<div class="dashboard-body">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li><a href="index.html" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
            <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
            <li><span class="text-main-600 fw-normal text-15">Mentors</span></li>
        </ul>
    </div>
    <!-- Breadcrumb End -->

    <!-- Recent Mentors Start -->
    <div class="card mt-24">
        <div class="card-body">
            <h4 class="mb-20">Recent Mentors</h4>

            <div class="row g-20">
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img1.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img1.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Maria Prova</a>
                            </h5>
                            <span class="text-13 text-gray-500">Content Writer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img2.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img2.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Alex John</a>
                            </h5>
                            <span class="text-13 text-gray-500">Web Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img3.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img3.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Maria Prova</a>
                            </h5>
                            <span class="text-13 text-gray-500">Front-End Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img4.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img4.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Hawkins</a>
                            </h5>
                            <span class="text-13 text-gray-500">Graphic Designer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Recent Mentors End -->

    <!-- All Mentors Start -->
    <div class="card mt-24">
        <div class="card-body">
            <div class="mb-20 flex-between flex-wrap gap-8">
                <h4 class="mb-0">All Mentors</h4>

                <div class="flex-align gap-8 flex-wrap">
                    <div
                        class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-8 focus-border-main-600">
                        <span class="text-lg"><i class="ph ph-layout"></i></span>
                        <select class="form-control px-8 py-12 border-0 text-inherit rounded-4 text-center">
                            <option value="1" selected disabled>Category</option>
                            <option value="1">Web</option>
                            <option value="1">Design</option>
                            <option value="1">App</option>
                            <option value="1">SEO</option>
                        </select>
                    </div>
                    <div class="position-relative text-gray-500 flex-align gap-4 text-13">
                        <span class="text-inherit">Sort by: </span>
                        <div
                            class="flex-align text-gray-500 text-13 border border-gray-100 rounded-4 ps-8 focus-border-main-600">
                            <span class="text-lg"><i class="ph ph-funnel-simple"></i></span>
                            <select class="form-control px-8 py-12 border-0 text-inherit rounded-4 text-center">
                                <option value="1" selected>Popular</option>
                                <option value="1">Latest</option>
                                <option value="1">Trending</option>
                                <option value="1">Matches</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row g-20">
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img5.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img5.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Janny Wilson</a>
                            </h5>
                            <span class="text-13 text-gray-500">Product Designer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img6.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img6.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Marry Sara</a>
                            </h5>
                            <span class="text-13 text-gray-500">Digital Marketer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img7.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img7.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Simon Doe</a>
                            </h5>
                            <span class="text-13 text-gray-500">Web Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img8.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img8.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Zara Any</a>
                            </h5>
                            <span class="text-13 text-gray-500">Web Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img9.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img9.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">John Smith</a>
                            </h5>
                            <span class="text-13 text-gray-500">Web Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img10.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img10.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Michel Bond</a>
                            </h5>
                            <span class="text-13 text-gray-500">Biologist</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img11.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img11.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Robert Fox</a>
                            </h5>
                            <span class="text-13 text-gray-500">Content Writer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="mentor-card rounded-8 overflow-hidden">
                        <div class="mentor-card__cover position-relative">
                            <img src="assets/images/thumbs/mentor-cover-img12.png" alt="" class="cover-img">
                            <button type="button"
                                class="follow-btn py-2 px-8 flex-align gap-4 text-13 fw-medium text-white border border-white rounded-pill position-absolute inset-block-start-0 inset-inline-end-0 mt-8 me-8 transition-1">
                                <i class="ph ph-plus d-flex"></i>
                                <span class="text">Follow</span>
                            </button>
                        </div>
                        <div class="mentor-card__content text-center">
                            <div
                                class="w-56 h-56 rounded-circle overflow-hidden border border-white d-inline-block">
                                <a href="setting.html" class="">
                                    <img src="assets/images/thumbs/mentor-img12.png" alt=""
                                        class="mentor-card__img cover-img">
                                </a>
                            </div>
                            <h5 class="mb-0">
                                <a href="setting.html">Jane Cooper</a>
                            </h5>
                            <span class="text-13 text-gray-500">Web Developer</span>

                            <p class="mt-20 text-gray-600 text-14 text-line-2">Hi, I am Alex Stanton, A doctoral
                                a Oxford University majoring in UI/UX. I have working for 2 years in a local
                                company..</p>

                            <div
                                class="mentor-card__rating mt-20 border border-gray-100 px-8 py-6 rounded-8 flex-between flex-wrap">
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-main-600 d-flex"><i
                                            class="ph-fill ph-book-open"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">45 Tasks</span>
                                </div>
                                <div class="flex-align gap-4">
                                    <span class="text-15 fw-normal text-warning-600 d-flex"><i
                                            class="ph-fill ph-star"></i></span>
                                    <span class="text-13 fw-normal text-gray-600">4.8</span>
                                    <span class="text-13 fw-normal text-gray-600">(750 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-between flex-wrap gap-8 mt-20">
                <a href="#" class="btn btn-outline-gray rounded-pill py-9 flex-align gap-4">
                    <span class="d-flex text-xl"><i class="ph ph-arrow-left"></i></span>
                    Previous
                </a>
                <ul class="pagination flex-align flex-wrap">
                    <li class="page-item active">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">8</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">9</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link h-44 w-44 flex-center text-15 rounded-8 fw-medium" href="#">10</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-outline-main rounded-pill py-9 flex-align gap-4">
                    Next <span class="d-flex text-xl"><i class="ph ph-arrow-right"></i></span>
                </a>
            </div>

        </div>
    </div>
    <!-- All Mentors End -->
</div>