<!--==================== Preloader Start ====================-->
<div class="preloader">
  <div class="loader"></div>
</div>
<!--==================== Preloader End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ============================ Sidebar Start ============================ -->

<app-sidebar></app-sidebar>
<!-- ============================ Sidebar End  ============================ -->
<div class="dashboard-main-wrapper">

  <app-header></app-header>

  <router-outlet></router-outlet> <!-- Nơi nội dung sẽ được hiển thị -->
  <app-footer></app-footer>

</div>