<div class="dashboard-body">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li><a href="index.html" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
            <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
            <li><span class="text-main-600 fw-normal text-15">Analytics</span></li>
        </ul>
    </div>
    <!-- Breadcrumb End -->

    <div class="row gy-4">
        <div class="col-lg-9">
            <!-- Widgets Start -->
            <div class="row gy-4">
                <div class="col-xl-4 col-sm-6">
                    <div class="card h-100">
                        <div class="card-body pe-0">
                            <div class="flex-align gap-12">
                                <span
                                    class="flex-shrink-0 w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-2xl">
                                    <i class="ph-fill ph-calendar-dots"></i>
                                </span>
                                <span class="text-16 text-heading">Time Spend</span>
                            </div>
                            <div class="flex-between align-items-end">
                                <div class="">
                                    <h4 class="mb-4">48:32:18</h4>
                                    <div class="flex-align gap-8">
                                        <span class="text-danger-600 text-15"><i
                                                class="ph ph-arrow-down"></i></span>
                                        <span class="text-danger-600 text-15">2:25:08</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8">
                                    <div id="complete-course1"
                                        class="remove-tooltip-title rounded-tooltip-value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card h-100">
                        <div class="card-body pe-0">
                            <div class="flex-align gap-12">
                                <span
                                    class="flex-shrink-0 w-56 h-56 flex-center rounded-circle bg-main-two-600 text-white text-2xl">
                                    <i class="ph-fill ph-trend-up"></i>
                                </span>
                                <span class="text-16 text-heading">Avg. Activity</span>
                            </div>
                            <div class="flex-between align-items-end">
                                <div class="">
                                    <h4 class="mb-4">75%</h4>
                                    <div class="flex-align gap-8">
                                        <span class="text-success-600 text-15"><i
                                                class="ph ph-arrow-down"></i></span>
                                        <span class="text-success-600 text-15">8%</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8">
                                    <div id="complete-course2"
                                        class="remove-tooltip-title rounded-tooltip-value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card h-100">
                        <div class="card-body pe-0">
                            <div class="flex-align gap-12">
                                <span
                                    class="flex-shrink-0 w-56 h-56 flex-center rounded-circle bg-purple-600 text-white text-2xl">
                                    <i class="ph-fill ph-credit-card"></i>
                                </span>
                                <span class="text-16 text-heading">Money Spent</span>
                            </div>
                            <div class="flex-between align-items-end">
                                <div class="">
                                    <h4 class="mb-4">$580.00</h4>
                                    <div class="flex-align gap-8">
                                        <span class="text-danger-600 text-15"><i
                                                class="ph ph-arrow-down"></i></span>
                                        <span class="text-danger-600 text-15">$56.45</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8">
                                    <div id="complete-course3"
                                        class="remove-tooltip-title rounded-tooltip-value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->

            <!-- Top Course Start -->
            <div class="card mt-24">
                <div class="card-body">
                    <div class="mb-20 flex-between flex-wrap gap-8">
                        <h4 class="mb-0">Study Statistics</h4>
                        <div class="flex-align gap-16 flex-wrap">
                            <div class="flex-align flex-wrap gap-16">
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-600"></span>
                                    <span class="text-13 text-gray-600">Study</span>
                                </div>
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-two-600"></span>
                                    <span class="text-13 text-gray-600">Test</span>
                                </div>
                            </div>
                            <select class="form-select form-control text-13 px-8 pe-24 py-8 rounded-8 w-auto">
                                <option value="1">Yearly</option>
                                <option value="1">Monthly</option>
                                <option value="1">Weekly</option>
                                <option value="1">Today</option>
                            </select>
                        </div>
                    </div>

                    <div id="doubleLineChart" class="tooltip-style y-value-left"></div>

                </div>
            </div>
            <!-- Top Course End -->

            <!-- Revenue Generate Start -->
            <div class="card mt-24">
                <div class="card-body">
                    <div class="mb-0 flex-between flex-wrap gap-8">
                        <h4 class="mb-0">Revenue Generate</h4>
                        <div class="flex-align gap-16 flex-wrap">
                            <div class="flex-align flex-wrap gap-16">
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-two-600"></span>
                                    <span class="text-13 text-gray-600">Income</span>
                                </div>
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-two-200"></span>
                                    <span class="text-13 text-gray-600">Expense</span>
                                </div>
                            </div>
                            <select class="form-select form-control text-13 px-8 pe-24 py-8 rounded-8 w-auto">
                                <option value="1">Yearly</option>
                                <option value="1">Monthly</option>
                                <option value="1">Weekly</option>
                                <option value="1">Today</option>
                            </select>
                        </div>
                    </div>
                    <div id="revenueGenerateChart" class="tooltip-style y-value-left"></div>
                </div>
            </div>
            <!-- Revenue Generate End -->

        </div>

        <div class="col-lg-3">

            <!-- Donut Chart Start -->
            <div class="card">
                <div class="card-header border-bottom border-gray-100 flex-between gap-8 flex-wrap">
                    <h5 class="mb-0">Most Activity</h5>
                    <div class="dropdown flex-shrink-0">
                        <button class="text-gray-400 text-xl d-flex rounded-4" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ph-fill ph-dots-three-outline"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                            <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                <div class="card-body p-12">
                                    <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                        <ul>
                                            <li class="mb-0">
                                                <a href="students.html"
                                                    class="py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                    <span class="text"> <i class="ph ph-user me-4"></i>
                                                        View</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-center">
                        <div id="activityDonutChart" class="w-auto d-inline-block"></div>
                    </div>

                    <div class="flex-between gap-8 flex-wrap mt-24">
                        <div class="flex-align flex-column">
                            <span
                                class="w-12 h-12 bg-white border border-3 border-main-600 rounded-circle"></span>
                            <span class="text-13 my-4 text-main-600">Mentoring</span>
                            <h6 class="mb-0">65.2%</h6>
                        </div>
                        <div class="flex-align flex-column">
                            <span
                                class="w-12 h-12 bg-white border border-3 border-main-two-600 rounded-circle"></span>
                            <span class="text-13 my-4 text-main-two-600">Organization</span>
                            <h6 class="mb-0">25.0%</h6>
                        </div>
                        <div class="flex-align flex-column">
                            <span
                                class="w-12 h-12 bg-white border border-3 border-warning-600 rounded-circle"></span>
                            <span class="text-13 my-4 text-warning-600">Planning</span>
                            <h6 class="mb-0">9.8%</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Donut Chart End -->

            <!-- Hour Spent Card Start -->
            <div class="card mt-24 overflow-hidden">
                <div class="card-header pb-8">
                    <div class="flex-between">
                        <h4 class="mb-0">Hour Spent</h4>
                        <select class="form-select form-control text-13 px-8 pe-24 py-8 rounded-8 w-auto">
                            <option value="1">Yearly</option>
                            <option value="1">Monthly</option>
                            <option value="1">Weekly</option>
                            <option value="1">Today</option>
                        </select>
                    </div>
                    <div class="mb-0 flex-between flex-wrap gap-8 mt-8">
                        <div class="flex-align gap-16 flex-wrap">
                            <div class="flex-align flex-wrap gap-16">
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-two-600"></span>
                                    <span class="text-13 text-gray-600">Study</span>
                                </div>
                                <div class="flex-align flex-wrap gap-8">
                                    <span class="w-8 h-8 rounded-circle bg-main-two-200"></span>
                                    <span class="text-13 text-gray-600">Exam</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div id="stackedColumnChart"></div>
                </div>
            </div>
            <!-- Hour Spent Card End -->

            <!-- Hour Spent Card Start -->
            <div class="card mt-24 overflow-hidden">
                <div class="card-body">
                    <h4 class="mb-40">Users by country</h4>
                    <div id="world-map"></div>

                    <div class="mt-20">
                        <div class="mb-16">
                            <div class="flex-between gap-4 mb-4">
                                <span class="text-13 text-gray-600">New York</span>
                                <span class="text-gray-600 flex-shrink-0 text-13 fw-medium">20%</span>
                            </div>
                            <div class="progress w-100  bg-main-100 rounded-pill h-8" role="progressbar"
                                aria-label="Basic example" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 20%"></div>
                            </div>
                        </div>
                        <div class="mb-16">
                            <div class="flex-between gap-4 mb-4">
                                <span class="text-13 text-gray-600">San Frncisco</span>
                                <span class="text-gray-600 flex-shrink-0 text-13 fw-medium">40%</span>
                            </div>
                            <div class="progress w-100  bg-warning-50 rounded-pill h-8" role="progressbar"
                                aria-label="Basic example" aria-valuenow="40" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-warning-600 rounded-pill" style="width: 40%"></div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <div class="flex-between gap-4 mb-4">
                                <span class="text-13 text-gray-600">Bangladesh</span>
                                <span class="text-gray-600 flex-shrink-0 text-13 fw-medium">50%</span>
                            </div>
                            <div class="progress w-100  bg-success-50 rounded-pill h-8" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-success-600 rounded-pill" style="width: 50%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hour Spent Card End -->
        </div>
    </div>
</div>