<div class="dashboard-body">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb mb-24">
        <ul class="flex-align gap-4">
            <li><a href="index.html" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
            <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
            <li><span class="text-main-600 fw-normal text-15">Events</span></li>
        </ul>
    </div>
    <!-- Breadcrumb End -->

    <!-- Recommended Start -->
    <div class="card mt-24 bg-transparent">
        <div class="card-body p-0">
            <div id='wrap'>
                <div id='calendar' class="position-relative">
                    <button type="button"
                        class="add-event btn btn-main text-sm btn-sm px-24 rounded-pill py-12 d-flex align-items-center gap-2"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="ph ph-plus me-4"></i>
                        Add Event
                    </button>
                </div>
                <div style='clear:both'></div>
            </div>
        </div>
    </div>
    <!-- Recommended End -->
</div>