<div class="dashboard-body">

    <div class="breadcrumb-with-buttons mb-24 flex-between flex-wrap gap-8">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb mb-24">
            <ul class="flex-align gap-4">
                <li><a href="index.html" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a>
                </li>
                <li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
                <li><span class="text-main-600 fw-normal text-15">Course Overview</span></li>
            </ul>
        </div>
        <!-- Breadcrumb End -->

        <!-- Buttons Start -->
        <div class="flex-align justify-content-end gap-8">
            <button type="button"
                class="btn btn-outline-main bg-main-100 border-main-100 text-main-600 rounded-pill py-9">Save as
                Draft</button>
            <button type="button" class="btn btn-main rounded-pill py-9">Publish Course</button>
        </div>
        <!-- Buttons End -->

    </div>

    <!-- Create Course Step List Start -->
    <ul class="step-list mb-24">
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 done ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
            Course Details
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 done ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
            Upload Videos
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 done ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
            About Course
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6 done ">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
            Create Quiz
            <span class="line position-relative"></span>
        </li>
        <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  active">
            <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
            Publish Course
            <span class="line position-relative"></span>
        </li>
    </ul>
    <!-- Create Course Step List End -->

    <!-- Course Tab Start -->
    <div class="card">
        <div class="card-header border-0 flex-align gap-8">
            <h5 class="mb-0">Course Overview</h5>
            <button type="button" class="text-main-600 text-md d-flex" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Course Overview">
                <i class="ph-fill ph-question"></i>
            </button>
        </div>
        <div class="card-body pt-0">

            <div class="border border-gray-100 p-20 rounded-12">
                <div class="flex-between">
                    <span class="py-6 px-16 bg-gray-50 text-gray-500 rounded-pill text-15">Web Design</span>
                    <div class="flex-align gap-8">
                        <span class="text-main-600 d-flex text-xl"><i
                                class="ph-fill ph-check-circle"></i></span>
                        <!-- Dropdown Start -->
                        <div class="dropdown flex-shrink-0">
                            <button class="text-gray-600 text-xl d-flex rounded-4" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ph-fill ph-dots-three-outline"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                    <div class="card-body p-12">
                                        <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                            <ul>
                                                <li class="mb-0">
                                                    <button type="button"
                                                        class="edit-item-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                        <span class="text">Edit</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dropdown end -->
                    </div>
                </div>
                <h3 class="my-8">Complete Web & Mobile Design</h3>

                <div class="flex-align gap-24">
                    <div class="flex-align gap-8">
                        <span class="text-gray-200 d-flex text-16"><i
                                class="ph-fill ph-video-camera"></i></span>
                        <span class="text-gray-200 d-flex text-15">24 Lesson </span>
                    </div>
                    <div class="flex-align gap-8">
                        <span class="text-gray-200 d-flex text-16"><i class="ph-fill ph-clock"></i></span>
                        <span class="text-gray-200 d-flex text-15">72 Hours </span>
                    </div>
                    <div class="flex-align gap-8">
                        <span class="text-gray-200 d-flex text-16"><i class="ph-fill ph-clock"></i></span>
                        <span class="text-gray-200 d-flex text-15">Offered by Google </span>
                    </div>
                    <div class="flex-align gap-8">
                        <span class="text-gray-200 d-flex text-16"><i class="ph-fill ph-clock"></i></span>
                        <span class="text-gray-200 d-flex text-15">Beginner </span>
                    </div>
                </div>
                <div class="my-24">
                    <img src="assets/images/thumbs/course-publish-img.png" alt="" class="rounded-16 cover-img">
                </div>
                <h5 class="mb-16 fw-bold">Course Description</h5>
                <p class="text-gray-300 text-15 max-w-845">Build beautifully designed web and mobile projects
                    for your customers using modern tools used by top companies in 2024. Includes 100+ assets
                    and premium design templates that you can keep and use to customize for all your future
                    projects. Learn to design for all types of devices using Figma and other tools used by some
                    of the top designers in the world. Get hired as a Designer or become a freelancer that can
                    work from anywhere and for anyone. Designers are in high demand!</p>

                <h5 class="mt-32 mb-16 fw-semibold">Resources</h5>
                <div class="upload-card-item p-16 rounded-12 border border-main-200 mb-20">
                    <div class="flex-between gap-8">
                        <div class="flex-align gap-10">
                            <span
                                class="w-36 h-36 text-lg rounded-circle bg-white flex-center text-main-600 bg-main-50">
                                <i class="ph ph-paperclip"></i>
                            </span>
                            <div class="">
                                <p class="text-15 text-gray-500">Introduction of web & mobile Design.pdf</p>
                                <p class="text-13 text-gray-600">25 mb</p>
                            </div>
                        </div>
                        <div class="flex-align gap-8">
                            <span class="text-main-600 d-flex text-xl"><i
                                    class="ph-fill ph-check-circle"></i></span>
                            <!-- Dropdown Start -->
                            <div class="dropdown flex-shrink-0">
                                <button class="text-gray-600 text-xl d-flex rounded-4" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ph-fill ph-dots-three-outline"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                    <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                        <div class="card-body p-12">
                                            <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                <ul>
                                                    <li class="mb-0">
                                                        <button type="button"
                                                            class="delete-item-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                            <span class="text">Delete</span>
                                                        </button>
                                                    </li>
                                                    <li class="mb-0">
                                                        <button type="button"
                                                            class="view-item-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start">
                                                            <span class="text">View</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Dropdown end -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex-align justify-content-end gap-8 mt-24">
                <a href="create-quiz.html" class="btn btn-outline-main rounded-pill py-9">Back</a>
                <a href="course-details.html" class="btn btn-main rounded-pill py-9">Publish Now</a>
            </div>
        </div>
    </div>
    <!-- Course Tab End -->
</div>