<section class="auth d-flex">
    <div class="auth-left bg-main-50 flex-center p-24">
        <img src="assets/images/thumbs/auth-img3.png" alt="">
    </div>
    <div class="auth-right py-40 px-24 flex-center flex-column">
        <div class="auth-right__inner mx-auto w-100">
            <a href="index.html" class="auth-right__logo">
                <img src="assets/images/logo/logo.png" alt="">
            </a>
            <h2 class="mb-8">Reset Password</h2>
            <p class="text-gray-600 text-15 mb-32">For <span class="fw-medium"> exampleinfo&#64;mail.com</span> </p>

            <form action="#">

                <div class="mb-24">
                    <label for="new-password" class="form-label mb-8 h6">New Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control py-11 ps-40" id="new-password"
                            placeholder="Enter New Password" value="password">
                        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i
                                class="ph ph-lock"></i></span>
                        <span
                            class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash"
                            id="#current-password"></span>
                    </div>
                </div>
                <div class="mb-24">
                    <label for="confirm-password" class="form-label mb-8 h6">Confirm Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control py-11 ps-40" id="confirm-password"
                            placeholder="Enter Confirm Password" value="password">
                        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i
                                class="ph ph-lock"></i></span>
                        <span
                            class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash"
                            id="#confirm-password"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-main rounded-pill w-100">Set New Password</button>

                <a href="sign-in.html" class="mt-24 text-main-600 flex-align gap-8 justify-content-center"> <i
                        class="ph ph-arrow-left d-flex"></i> Back To Login</a>

            </form>
        </div>
    </div>
</section>